{
  "openapi": "3.0.3",
  "info": {
    "title": "S1Seven API",
    "description": "Microservices bundled APIs",
    "version": "0.1.0",
    "contact": {
      "name": "S1Seven development team",
      "url": "https://s1seven.com",
      "email": "developers@s1seven.com"
    }
  },
  "servers": [
    {
      "url": "https://app.s1seven.ovh/api"
    },
    {
      "url": "https://app.s1seven.dev/api"
    }
  ],
  "externalDocs": {
    "description": "Platform docs",
    "url": "https://s1seven.github.io/portal-docs/"
  },
  "security": [
    {
      "bearer": []
    },
    {
      "refresh": []
    },
    {
      "Authentication": []
    },
    {
      "Refresh": []
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Manage JWT token to access protected endpoints."
    },
    {
      "name": "sessions",
      "description": "Manage user sessions."
    },
    {
      "name": "accesstoken",
      "description": "Manage company access tokens."
    },
    {
      "name": "Service",
      "description": "Display microservice credentials."
    },
    {
      "name": "users",
      "description": "Users registered on S1Seven platform."
    },
    {
      "name": "companies",
      "description": "Companies registered on S1Seven platform."
    },
    {
      "name": "devices",
      "description": "Devices registered on S1Seven platform.."
    },
    {
      "name": "cointypes",
      "description": "Managing coin types and their addresses for the different accounts."
    },
    {
      "name": "nodes",
      "description": "The DLT full nodes that are registered and used with the solution."
    },
    {
      "name": "wallet",
      "description": "A company's wallet needs an initial random input to start operationg in a individual and private way."
    },
    {
      "name": "identities",
      "description": "The concept of identities is used to derive different key pair for various purposes. An identity can represent a legal entity or a device and may contain all supported and enabled cointypes of the system. \n      In general, a list of all enabled identites can be retrieved by their owner. Single identity can be created, disabled & enabled, and of course the contained coinaddress / publickey can be retrieved."
    },
    {
      "name": "transactions",
      "description": "Transaction trackers."
    },
    {
      "name": "certificates",
      "description": "Certificate handlers"
    },
    {
      "name": "hooks",
      "description": "Registered hooks used to trigger events"
    },
    {
      "name": "mailhooks",
      "description": "Registered hooks used to trigger emails"
    }
  ],
  "paths": {
    "/sessions": {
      "get": {
        "operationId": "SessionsController_show",
        "summary": "Display sessions - Scope : sessions:read_many",
        "description": "Display user sessions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of devices logged in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Session's storage id"
                      },
                      "userId": {
                        "type": "string",
                        "description": "Session's user id"
                      },
                      "jwtId": {
                        "type": "string",
                        "description": "Access token JWT id"
                      },
                      "loggedInAt": {
                        "format": "date-time",
                        "type": "string",
                        "description": "When session was logged in"
                      },
                      "current": {
                        "type": "boolean",
                        "description": "Session is active",
                        "default": false
                      },
                      "device": {
                        "type": "string",
                        "description": "User agent"
                      },
                      "ipAddress": {
                        "type": "string",
                        "description": "User agent IP address"
                      }
                    },
                    "required": [
                      "id",
                      "userId",
                      "jwtId",
                      "device",
                      "ipAddress"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "sessions"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "SessionsController_deleteAll",
        "summary": "Revoke user session - Scope : sessions:delete_all",
        "description": "Revoke user sessions",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of devices logged in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Session's storage id"
                      },
                      "userId": {
                        "type": "string",
                        "description": "Session's user id"
                      },
                      "jwtId": {
                        "type": "string",
                        "description": "Access token JWT id"
                      },
                      "loggedInAt": {
                        "format": "date-time",
                        "type": "string",
                        "description": "When session was logged in"
                      },
                      "current": {
                        "type": "boolean",
                        "description": "Session is active",
                        "default": false
                      },
                      "device": {
                        "type": "string",
                        "description": "User agent"
                      },
                      "ipAddress": {
                        "type": "string",
                        "description": "User agent IP address"
                      }
                    },
                    "required": [
                      "id",
                      "userId",
                      "jwtId",
                      "device",
                      "ipAddress"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "sessions"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/sessions/{sessionId}": {
      "delete": {
        "operationId": "SessionsController_deleteOne",
        "summary": "Revoke user session - Scope : sessions:delete_one",
        "description": "Revoke a user session",
        "parameters": [
          {
            "name": "sessionId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device logged in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Session's storage id"
                    },
                    "userId": {
                      "type": "string",
                      "description": "Session's user id"
                    },
                    "jwtId": {
                      "type": "string",
                      "description": "Access token JWT id"
                    },
                    "loggedInAt": {
                      "format": "date-time",
                      "type": "string",
                      "description": "When session was logged in"
                    },
                    "current": {
                      "type": "boolean",
                      "description": "Session is active",
                      "default": false
                    },
                    "device": {
                      "type": "string",
                      "description": "User agent"
                    },
                    "ipAddress": {
                      "type": "string",
                      "description": "User agent IP address"
                    }
                  },
                  "required": [
                    "id",
                    "userId",
                    "jwtId",
                    "device",
                    "ipAddress"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "sessions"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "AuthController_login",
        "summary": "Login user",
        "description": "Login with user credentials",
        "parameters": [],
        "requestBody": {
          "required": true,
          "description": "User credentials",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token, refresh token and the user Id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "userId",
                    "accessToken",
                    "refreshToken"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Wrong credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ],
        "security": []
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "AuthController_logOut",
        "summary": "Logout user",
        "description": "Logout with user's JWT",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/auth/inspect": {
      "post": {
        "operationId": "AuthController_inspect",
        "summary": "Inspect JWT - Scope : auth:read_one",
        "description": "Return JWT token inspection",
        "parameters": [
          {
            "name": "audience",
            "in": "header",
            "description": "Auth service audience",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Token inspection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "claim": {
                      "type": "string",
                      "description": "Encrypted content"
                    },
                    "user": {
                      "description": "User owning this token",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Instance's unique id"
                            },
                            "username": {
                              "type": "string",
                              "description": "User's name"
                            },
                            "email": {
                              "type": "string",
                              "description": "User email address",
                              "format": "email"
                            }
                          },
                          "required": [
                            "id",
                            "username",
                            "email"
                          ]
                        }
                      ]
                    },
                    "company": {
                      "description": "Company owning this token",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Instance's unique id"
                            },
                            "vatId": {
                              "type": "string",
                              "description": "Company's VAT ID",
                              "example": "ATU74488404"
                            }
                          },
                          "required": [
                            "id",
                            "vatId"
                          ]
                        }
                      ]
                    },
                    "iat": {
                      "type": "number",
                      "description": "Timestamp of issuance in seconds"
                    },
                    "iss": {
                      "type": "string",
                      "description": "Issuer"
                    },
                    "sub": {
                      "type": "string",
                      "description": "JWT subject"
                    },
                    "exp": {
                      "type": "number",
                      "description": "Expires at timestamp in seconds"
                    },
                    "aud": {
                      "type": "string",
                      "description": "JWT audience"
                    },
                    "jti": {
                      "type": "string",
                      "description": "JWT id"
                    },
                    "scopes": {
                      "description": "JWT scopes",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "auth": {
                              "type": "object",
                              "description": "auth endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "create_one",
                                      "sign_in",
                                      "sign_out",
                                      "revoke"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "accesstoken": {
                              "type": "object",
                              "description": "accesstoken endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "create_one",
                                      "read_one",
                                      "read_many",
                                      "update_one",
                                      "delete_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "sessions": {
                              "type": "object",
                              "description": "sessions endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "create_one",
                                      "revoke",
                                      "delete_one",
                                      "delete_all"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "cointypes": {
                              "type": "object",
                              "description": "cointypes endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "nodes": {
                              "type": "object",
                              "description": "nodes endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "masterkey": {
                              "type": "object",
                              "description": "masterkey endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "create_one",
                                      "update_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "wallet": {
                              "type": "object",
                              "description": "wallet endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "identities": {
                              "type": "object",
                              "description": "identities endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "transactions": {
                              "type": "object",
                              "description": "transactions endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "partial_sign",
                                      "send",
                                      "sign"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "users": {
                              "type": "object",
                              "description": "users endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "confirm",
                                      "reset",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "companies": {
                              "type": "object",
                              "description": "companies endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "validate_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "confirm",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "devices": {
                              "type": "object",
                              "description": "devices endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "confirm",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "certificates": {
                              "type": "object",
                              "description": "certificates endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "create_one",
                                      "create_many",
                                      "update_one",
                                      "validate_one",
                                      "validate_many",
                                      "render_one",
                                      "render_many",
                                      "sign",
                                      "notarize_one",
                                      "notarize_many"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "hooks": {
                              "type": "object",
                              "description": "hooks endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "events": {
                              "type": "object",
                              "description": "events endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "send"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "mailhooks": {
                              "type": "object",
                              "description": "mailhooks endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "read_many",
                                      "read_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "mails": {
                              "type": "object",
                              "description": "mails endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "send"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "auth",
                            "users"
                          ]
                        }
                      ]
                    },
                    "mode": {
                      "description": "Mode in which this token is resctricted",
                      "example": "test",
                      "type": "string",
                      "enum": [
                        "live",
                        "test"
                      ]
                    }
                  },
                  "required": [
                    "iat",
                    "iss",
                    "mode"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearer": []
          },
          {
            "Authentication": []
          }
        ]
      }
    },
    "/auth/refresh": {
      "get": {
        "operationId": "AuthController_refresh",
        "summary": "Refresh JWT - Scope : auth:create_one",
        "description": "Return refreshed JWT",
        "parameters": [],
        "responses": {
          "200": {
            "description": "JWT from an existing valid refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "accessToken": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "userId",
                    "accessToken"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ],
        "security": [
          {
            "refresh": []
          },
          {
            "Refresh": []
          }
        ]
      }
    },
    "/auth/revoke": {
      "post": {
        "operationId": "AuthController_revoke",
        "summary": "Revoke JWT - Scope : auth:revoke",
        "description": "Return revoked JWT",
        "parameters": [
          {
            "name": "audience",
            "in": "header",
            "description": "Auth service audience",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Revoked JWT storage id"
                    },
                    "jwtId": {
                      "type": "string",
                      "description": "JWT id"
                    },
                    "audience": {
                      "type": "string",
                      "description": "JWT audience"
                    },
                    "issuedAt": {
                      "type": "number",
                      "description": "JWT creation timestamp in seconds"
                    },
                    "expiresIn": {
                      "type": "number",
                      "description": "JWT expiration timestamp in seconds"
                    }
                  },
                  "required": [
                    "id",
                    "jwtId",
                    "audience",
                    "issuedAt",
                    "expiresIn"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "auth"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/accesstoken": {
      "post": {
        "operationId": "AccessTokensController_create",
        "summary": "Return JWT token and payload - Scope : accesstoken:create_one",
        "description": "Generate Access Token scoped to a given company",
        "parameters": [
          {
            "name": "mode",
            "required": true,
            "in": "query",
            "description": "Restrict mode in which token can be used",
            "schema": {
              "enum": [
                "live",
                "test"
              ],
              "type": "string"
            }
          },
          {
            "name": "company",
            "in": "header",
            "description": "Current company selected",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Custom scopes that will be contained in JWT",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "auth": {
                    "type": "object",
                    "description": "auth endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_one",
                            "create_one",
                            "sign_in",
                            "sign_out",
                            "revoke"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "accesstoken": {
                    "type": "object",
                    "description": "accesstoken endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "create_one",
                            "read_one",
                            "read_many",
                            "update_one",
                            "delete_one"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "sessions": {
                    "type": "object",
                    "description": "sessions endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_one",
                            "read_many",
                            "create_one",
                            "revoke",
                            "delete_one",
                            "delete_all"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "cointypes": {
                    "type": "object",
                    "description": "cointypes endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_one",
                            "read_many",
                            "create_one",
                            "update_one",
                            "delete_one",
                            "*"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "nodes": {
                    "type": "object",
                    "description": "nodes endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_one",
                            "read_many",
                            "create_one",
                            "update_one",
                            "delete_one",
                            "*"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "masterkey": {
                    "type": "object",
                    "description": "masterkey endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "create_one",
                            "update_one"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "wallet": {
                    "type": "object",
                    "description": "wallet endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_many",
                            "read_one",
                            "create_one",
                            "update_one",
                            "delete_one"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "identities": {
                    "type": "object",
                    "description": "identities endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_many",
                            "read_one",
                            "create_one",
                            "update_one",
                            "delete_one",
                            "*"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "transactions": {
                    "type": "object",
                    "description": "transactions endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_one",
                            "read_many",
                            "partial_sign",
                            "send",
                            "sign"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "users": {
                    "type": "object",
                    "description": "users endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_many",
                            "read_one",
                            "create_one",
                            "update_one",
                            "delete_one",
                            "confirm",
                            "reset",
                            "*"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "companies": {
                    "type": "object",
                    "description": "companies endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_many",
                            "read_one",
                            "validate_one",
                            "create_one",
                            "update_one",
                            "delete_one",
                            "confirm",
                            "*"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "devices": {
                    "type": "object",
                    "description": "devices endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_many",
                            "read_one",
                            "create_one",
                            "update_one",
                            "delete_one",
                            "confirm",
                            "*"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "certificates": {
                    "type": "object",
                    "description": "certificates endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_one",
                            "read_many",
                            "create_one",
                            "create_many",
                            "update_one",
                            "validate_one",
                            "validate_many",
                            "render_one",
                            "render_many",
                            "sign",
                            "notarize_one",
                            "notarize_many"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "hooks": {
                    "type": "object",
                    "description": "hooks endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_many",
                            "read_one",
                            "create_one",
                            "update_one",
                            "delete_one"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "events": {
                    "type": "object",
                    "description": "events endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_many",
                            "read_one",
                            "send"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "mailhooks": {
                    "type": "object",
                    "description": "mailhooks endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "create_one",
                            "update_one",
                            "delete_one",
                            "read_many",
                            "read_one"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  },
                  "mails": {
                    "type": "object",
                    "description": "mails endpoints",
                    "properties": {
                      "actions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "read_many",
                            "read_one",
                            "send"
                          ]
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": [
                  "auth",
                  "users"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "JWT token and payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Revoked JWT storage id"
                    },
                    "companyId": {
                      "type": "string",
                      "description": "Access token owner"
                    },
                    "jwtId": {
                      "type": "string",
                      "description": "JWT id"
                    },
                    "audience": {
                      "type": "string",
                      "description": "JWT audience"
                    },
                    "issuedAt": {
                      "type": "number",
                      "description": "JWT creation timestamp in seconds"
                    },
                    "expiresIn": {
                      "type": "number",
                      "description": "JWT expiration timestamp in seconds"
                    },
                    "scopes": {
                      "description": "JWT scopes",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "auth": {
                              "type": "object",
                              "description": "auth endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "create_one",
                                      "sign_in",
                                      "sign_out",
                                      "revoke"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "accesstoken": {
                              "type": "object",
                              "description": "accesstoken endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "create_one",
                                      "read_one",
                                      "read_many",
                                      "update_one",
                                      "delete_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "sessions": {
                              "type": "object",
                              "description": "sessions endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "create_one",
                                      "revoke",
                                      "delete_one",
                                      "delete_all"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "cointypes": {
                              "type": "object",
                              "description": "cointypes endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "nodes": {
                              "type": "object",
                              "description": "nodes endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "masterkey": {
                              "type": "object",
                              "description": "masterkey endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "create_one",
                                      "update_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "wallet": {
                              "type": "object",
                              "description": "wallet endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "identities": {
                              "type": "object",
                              "description": "identities endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "transactions": {
                              "type": "object",
                              "description": "transactions endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "partial_sign",
                                      "send",
                                      "sign"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "users": {
                              "type": "object",
                              "description": "users endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "confirm",
                                      "reset",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "companies": {
                              "type": "object",
                              "description": "companies endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "validate_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "confirm",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "devices": {
                              "type": "object",
                              "description": "devices endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "confirm",
                                      "*"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "certificates": {
                              "type": "object",
                              "description": "certificates endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_one",
                                      "read_many",
                                      "create_one",
                                      "create_many",
                                      "update_one",
                                      "validate_one",
                                      "validate_many",
                                      "render_one",
                                      "render_many",
                                      "sign",
                                      "notarize_one",
                                      "notarize_many"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "hooks": {
                              "type": "object",
                              "description": "hooks endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "create_one",
                                      "update_one",
                                      "delete_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "events": {
                              "type": "object",
                              "description": "events endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "send"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "mailhooks": {
                              "type": "object",
                              "description": "mailhooks endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "create_one",
                                      "update_one",
                                      "delete_one",
                                      "read_many",
                                      "read_one"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            },
                            "mails": {
                              "type": "object",
                              "description": "mails endpoints",
                              "properties": {
                                "actions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "read_many",
                                      "read_one",
                                      "send"
                                    ]
                                  }
                                }
                              },
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "auth",
                            "users"
                          ]
                        }
                      ]
                    },
                    "mode": {
                      "description": "Mode in which this token is resctricted",
                      "example": "test",
                      "type": "string",
                      "enum": [
                        "live",
                        "test"
                      ]
                    },
                    "jwt": {
                      "type": "string",
                      "description": "JWT"
                    }
                  },
                  "required": [
                    "id",
                    "companyId",
                    "jwtId",
                    "audience",
                    "issuedAt",
                    "expiresIn",
                    "mode",
                    "jwt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden Resources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "description": "The error status code",
                      "example": 400
                    },
                    "path": {
                      "type": "string",
                      "description": "The path on which the error was generated",
                      "example": "auth/login"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The date on which the error was generated",
                      "example": "2021-10-05T14:48:00.000Z"
                    },
                    "message": {
                      "description": "The error message",
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      ]
                    }
                  },
                  "required": [
                    "statusCode",
                    "path",
                    "timestamp",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "accesstoken"
        ],
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "get": {
        "operationId": "AccessTokensController_find",
        "summary": "Return access token list - Scope : accesstoken:read_many",
        "description": "Find Access Tokens owned by the selected company",
        "parameters": [
          {
            "name": "company",
            "in": "header",
            "description": "Current company selected",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access token list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Revoked JWT storage id"
                      },
                      "companyId": {
                        "type": "string",
                        "description": "Access token owner"
                      },
                      "jwtId": {
                        "type": "string",
                        "description": "JWT id"
                      },
                      "audience": {
                        "type": "string",
                        "description": "JWT audience"
                      },
                      "issuedAt": {
                        "type": "number",
                        "description": "JWT creation timestamp in seconds"
                      },
                      "expiresIn": {
                        "type": "number",
                        "description": "JWT expiration timestamp in seconds"
                      },
                      "scopes": {
                        "description": "JWT scopes",
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "auth": {
                                "type": "object",
                                "description": "auth endpoints",
                                "properties": {
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "read_one",
                                        "create_one",
                                        "sign_in",
                                        "sign_out",
                                        "revoke"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "accesstoken": {
                                "type": "object",
                                "description": "accesstoken endpoints",
                                "properties": {
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "create_one",
                                        "read_one",
                                        "read_many",
                                        "update_one",
                                        "delete_one"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "sessions": {
                                "type": "object",
                                "description": "sessions endpoints",
                                "properties": {
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "read_one",
                                        "read_many",
                                        "create_one",
                                        "revoke",
                                        "delete_one",
                                        "delete_all"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "cointypes": {
                                "type": "object",
                                "description": "cointypes endpoints",
                                "properties": {
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "read_one",
                                        "read_many",
                                        "create_one",
                                        "update_one",
                                        "delete_one",
                                        "*"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "nodes": {
                                "type": "object",
                                "description": "nodes endpoints",
                                "properties": {
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "read_one",
                                        "read_many",
                                        "create_one",
                                        "update_one",
                                        "delete_one",
                                        "*"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "masterkey": {
                                "type": "object",
                                "description": "masterkey endpoints",
                                "properties": {
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "create_one",
                                        "update_one"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "wallet": {
                                "type": "object",
                                "description": "wallet endpoints",
                                "properties": {
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "read_many",
                                        "read_one",
                                        "create_one",
                                        "update_one",
                                        "delete_one"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "identities": {
                                "type": "object",
                                "description": "identities endpoints",
                                "properties": {
                                  "actions": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "read_many",
                                        "read_one",
                                        "create_one",
                                        "update_one",
                                        "delete_one",
                                        "*"
                                      ]
                                    }
                                  }
                                },
                                "additionalProperties": false
                              },
                              "transactions": {
                                "type": "object",
                                "description": "transactions endpoints",
                                "properties": {
[...]
